h1{
    text-align: center;
}
h2{
    text-align: center;
    color:rgb(98, 17, 131);
}
body{
    font-family: monospace;
    background-color: rgb(241, 221, 195);
}

    table {
        table-layout: fixed;
        border-collapse: collapse;
        border: 3px solid purple;
      }


th{
    background-color: rgb(155, 139, 139);
    border: 3px solid purple;
    padding: 8px;
}
tr{
    border: 1px solid white;
    
}
td{
    border: 1px solid white;
    padding: 5px;
}